<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
              {% if loginstatus == true %}
                <a class="navbar-brand" href="/menu">
                  <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
                </a>
              {% endif %}
              {% if loginstatus == false %}
                <a class="navbar-brand" href="/login">
                  <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
                </a>
              {% endif %}
            </nav>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  {% if loginstatus == true %}
                  {% block navbar %}{% endblock %}
                  <li class="nav-item active">
                    <a href="/login" class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
                  </li>
                  {% endif %}
                  {% if loginstatus == false %}
                    <li class="nav-item active">
                      <a href="/login" class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                    </li>
                  {% endif %}

              </ul>
            </div>
          </nav>
    <head>
        <link rel="icon" type="image/png" href="/static/logo.png" />
        <title>KTHFS System Architecture Development</title>
    </head>
    <body>
        <h2>&ensp;System Architecture Development</h2>
        <hr>
        {% block content %}{% endblock %}
    </body>

</html>