<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap3.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:700&display=swap" rel="stylesheet">
    <style>
      body {font-family: 'Exo 2', sans-serif;}
      nav {font-family: 'Exo 2', sans-serif;}
      head {font-family: 'Exo 2', sans-serif;}
    </style>
    <link rel="icon" type="image/png" href="/static/logo.png?v=1.0" >
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.4/lib/darkmode-js.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <nav class="navbar navbar-dark bg-dark">
              {% if loginstatus == true %}
              {% if request.path == url_for('buildmodel') %}
                <a class="navbar-brand" href="/buildmodel">
                  <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt=""> 
                </a>
              {% endif %}

              {% if request.path == url_for('menu') %}
              <a class="navbar-brand" href="/menu">
                <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
              </a>
            {% endif %}

            {% if request.path == url_for('output') %}
            <a class="navbar-brand" href="/buildmodel">
              <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
            </a>
          {% endif %}


        {% if request.path == url_for('error') %}
        <a class="navbar-brand" href="/buildmodel">
          <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
        </a>
      {% endif %}

              {% endif %}
              {% if loginstatus == false %}
                <a class="navbar-brand" href="/login">
                  <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
                </a>
              {% endif %}
            </nav>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  {% if loginstatus == true %}
                  {% block navbar %}{% endblock %}
                  <li class="nav-item active">
                    <a href="/login" class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
                  </li>
                  {% endif %}
                  {% if loginstatus == false %}
                    <li class="nav-item active">
                      <a href="/login" class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                    </li>
                  {% endif %}

              </ul>
            </div>
          </nav>
    <head>
        
        <title>KTHFS System Architecture Development</title>
    </head>
    <body>
        <h2>&ensp;System Architecture Development</h2>
        <hr>
        {% block content %}{% endblock %}
    </body>

</html
>