{% extends "base.html" %}


{% block content %} 
{% if loginstatus == true %}

<div class="w-50 p-3">
<h3>Select source</h3>
  <div-- class="w-50 p-3">
    <form action="" method="post">
    <input type="radio" name="options" id="option1" value="github" checked="checked"> GithubRepo </input><br><br>
    <h4>    -OR-    </h4><br>
    <input type="radio" name="options" id="option2" value="local"> Local </input><br><br>

        <div class="row">
                <div class="col-md-12 col-md-offset-3">
                        <div class="form-group">
                                <input type="text" class="form-control" style="width:50%;" placeholder="Local Path to SA Repo" name="localpath" value="{{
                                request.form.localpath }}">
                        </div>
                </div>
        </div>

<input class="btn btn-danger" type="submit" value="Build Data Model">



        <!--div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                Menu
                </a>
                <a href="/buildmodel" method="post" class="list-group-item list-group-item-action">Build Data Model</a>
                <a href = "URL to app">App Name</a>

        </div-->

</form>
</div>
</div>

{% endif %}
{% endblock %}