{% extends "base.html" %}


{% block content %} 
{% if loginstatus == true %}


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link disabled">Output</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/error">Error</a>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Error</h5>
      <p class="card-text">
        <ol>
      {% for item in error %}
  <li>{{item}}</li>
  {% endfor %}
</ol>
      </p>
    </div>
  </div>



{% endif %}
{% endblock %}