{% extends "base.html" %}
{% if loginstatus == true %}
{% block navbar %}
    <a class="navbar-brand" href="/menu">
                <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">SAT
              </a>
<li class="nav-item active">
  <a href="/menu" class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
</li>

{% endblock %}
{% endif %}

{% block content %} 
{% if loginstatus == true %}
<br>
<br>
<br>

<form>

  {% for item in inputfield%}
  <div class="form-row">
    <label for="inputEmail3" class=" col-form-label"></label>
    <div class="form-group">
      <input type="text" class="form-control" name={{item}} placeholder={{item}}>
    </div>
    <br></div>
    {% endfor %}

<div class="w-50 p-3">
    <input class="btn btn-danger" type="submit" name="submitbutton" value="Submit">

</form>
  </form>
{% endif %}
{% endblock %}