{% extends "base.html" %}

{% block content %} 
{% if loginstatus == true %}

<div class="row">
        <div class="col-md-12 col-md-offset-3">
                <div class="form-group">
                        <input type="text" class="form-control" style="width:50%;" placeholder="Commit SHA (default: Latest Commit)" name="commitsha" value="{{
                        request.form.commitsha }}">
                </div>
        </div>
</div>
<div class="w-50 p-3">
        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                Menu
                </a>
                <a href="/buildmodel" class="list-group-item list-group-item-action">Build Data Model</a>
                <!--a href = "URL to app">App Name</a-->

        </div>
</div>

{% endif %}
{% endblock %}