{% extends "base.html" %}
{% block navbar %}
<li class="nav-item active">
  <a href="/menu" class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
</li>

{% endblock %}

{% block content %} 
{% if loginstatus == true %}
<div class="w-10 p-4">

<form>

      <label for="exampleFormControlInput1">Runtime Configuration</label>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label name="debug" class="form-check-label" for="exampleCheck1">Debug</label>
      </div><br>

      <label for="exampleFormControlInput1">Github Path</label>
        <div class="row">
            <div class="input-group-text">github.com/</div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Github Organization: kthfspe">
    </div>
    <div class="input-group-text">/</div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Github Repository: sa">
    </div>
  </div><br>
  <div class="form-row">

    <label for="inputEmail3" class="col-sm-1 col-form-label">LV Functional</label>
    <div class="form-group col-md-5">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Default Path">
    </div>
    <div class="form-group col-md-5">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Debug Path">
    </div>
  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-1 col-form-label">LV Physical</label>
    <div class="form-group col-md-5">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Default Path">
    </div>
    <div class="form-group col-md-5">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Debug Path">
    </div>
  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-1 col-form-label">HV Functional</label>
    <div class="form-group col-md-5">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Default Path">
    </div>
    <div class="form-group col-md-5">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Debug Path">
    </div>
  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-1 col-form-label">HV Physical</label>
    <div class="form-group col-md-5">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Default Path">
    </div>
    <div class="form-group col-md-5">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Debug Path">
    </div>
  </div>
<div class="form-row">

    <label for="inputEmail3" class="col-sm-1 col-form-label">DV Functional</label>
    <div class="form-group col-md-5">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Default Path">
    </div>
    <div class="form-group col-md-5">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Debug Path">
    </div>
  </div>

<div class="form-row">

    <label for="inputEmail3" class="col-sm-1 col-form-label">DV Physical</label>
    <div class="form-group col-md-5">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Default Path">
    </div>
    <div class="form-group col-md-5">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Debug Path">
    </div>
  </div>

     </div>

</form>
</div>



<div class="w-50 p-3">
    <input class="btn btn-danger" type="submit" value="Apply">
     <input class="btn btn-success" type="submit" value="View Log">

    
</div>
{% endif %}
{% endblock %}