{% extends "base.html" %}
{% block navbar %}


{% endblock %}

{% block content %} 
{% if loginstatus == true %}
<div class="w-10 p-4">

<form>

      <label for="exampleFormControlInput1">Runtime Configuration</label>
    <div class="form-check">
        {% if config["debug"] == True %}
        <input type="checkbox" class="form-check-input" name="debug" value="True" checked>
        {% endif%}

        {% if config["debug"] == False %}
        <input type="checkbox" class="form-check-input" name="debug" value="True">
        {% endif%}
        <label name="Example" class="form-check-label" for="exampleCheck1">Run Example Files</label>
      </div><br>


  

  
  <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">LV Functional Default</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="defaultLVfun" value={{config["defaultLVfun"]}}>
    </div>

  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">LV Physical Default</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="defaultLVphy" value={{config["defaultLVphy"]}}>
    </div>

  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">HV Functional Default</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="defaultHVfun" value={{config["defaultHVfun"]}}>
    </div>

  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">HV Physical Default</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="defaultHVphy" value={{config["defaultHVphy"]}}>
    </div>

  </div>
<div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">DV Functional Default</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="defaultDVfun" value={{config["defaultDVfun"]}}>
    </div>

  </div>

<div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">DV Physical Default</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="defaultDVphy" value={{config["defaultDVphy"]}}>
    </div>

  </div>

    <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">LV Functional Example</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="exampleLVfun" value={{config["exampleLVfun"]}}>
    </div>

  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">LV Physical Example</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="exampleLVphy" value={{config["exampleLVphy"]}}>
    </div>

  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">HV Functional Example</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="exampleHVfun" value={{config["exampleHVfun"]}}>
    </div>

  </div>
 <div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">HV Physical Example</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="exampleHVphy" value={{config["exampleHVphy"]}}>
    </div>

  </div>
<div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">DV Functional Example</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="exampleDVfun" value={{config["exampleDVfun"]}}>
    </div>

  </div>

<div class="form-row">

    <label for="inputEmail3" class="col-sm-2 col-form-label">DV Physical Example</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="exampleDVphy" value={{config["exampleDVphy"]}}>
    </div>

  </div>

  <div class="form-row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">YAML File Path</label>
    <div class="form-group col-md-5">
      <input type="text" class="form-check-input" name="dbyamlfilename" value={{config["dbyamlfilename"]}}>
    </div>
  </div>

     </div>


</div>



<div class="w-50 p-3">
    <input class="btn btn-danger" type="submit" name="submitbutton" value="Apply & Rebuild Model">
     <input class="btn btn-success" type="submit" name="submitbutton" value="View Log">
</form>
    
</div>
{% endif %}
{% endblock %}