{% extends "base.html" %}


{% block content %} 
{% if loginstatus == true %}


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link disabled" >Output</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/error">Error</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/warning">Warnings</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Warning</h5>
      <pclass="card-text">

        <ul>
      {% for item in warning %}
  <li>{{item}}</li>
  {% endfor %}
</ul>
      
      </p>
    </div>
  </div>



{% endif %}
{% endblock %}