<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/login">
                      <img src="{{url_for('static', filename='logo.png')}}" width="43" height="40" alt="">
                    </a>
            </nav>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a href="/login" class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                        <a href="/usermenu" class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    <head>
        <title>KTHFS System Architecture Development</title>
    </head>
    <body>
        <h2>System Architecture Development</h2>
        <hr>
        {% block content %}{% endblock %}
    </body>

</html>