<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <div>
        <a href="/login">Login</a>
        <a href="/usermenu">Menu</a>
    </div>
    <head>
        <title>KTHFS System Architecture Development</title>
    </head>
    <body>
        <h1>KTH Formula Student</h1>
        <h2>System Architecture Development</h2>
        <hr>
        {% block content %}{% endblock %}
    </body>

</html>